@import url('https://fonts.googleapis.com/css2?family=Poppins+Serif:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
  font-family: "Poppins", serif !important;
  background-color: rgb(9, 9, 9) !important;
}
/* light theme styles */
    $primary: rgb(255, 128, 0);
    $secondary: #000000;
    $light: #f3f4fb !important;
    $text-color: #676767; // Assuming you wanted black text for light 
    $transition: 0.4s all;
    $gradient:linear-gradient(90deg, #1F00A1, #404040);
    $title-gradient: linear-gradient(180deg, #1F00A1, #404040);
    .lighttext{
        color: #cdcdcd !important;
    }
.primarybg{
    background-color: $primary !important;
}
.primarytext{
    color: $primary !important;
}
.secondarybg{
    background-color: $secondary !important;
}
.secondarytext{
    color: $secondary !important;
}
.darkbg{
  background-color: rgb(39, 39, 39);
}
.gradient-btn {
  display: inline-block;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  background: linear-gradient(45deg, #d27e00, #ffed4d);
  background-size: 200% 200%;
  animation: gradientFlash 2s infinite alternate;
  transition: transform 0.2s ease-in-out;
  border: none;
}


@keyframes gradientFlash {
  0% {
		background-position: 0% 100%
	}
	100% {
		background-position: 100% 0%
	}
}

/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: gray; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  .primary-btn{
    background-color: $primary;
    padding: 10px 15px;
    border-radius: 10px;
    text-decoration: none;
    color: #ffffff !important;
    transition: $transition;
    display: inline-block;
    &:hover{
        background-color: $secondary;

    }
  }
  .secondary-btn{
    background-color: $secondary;
    padding: 10px 15px;
    border-radius: 10px;
    text-decoration: none;
    color: #ffffff !important;
    transition: $transition;
    &:hover{
        background-color: $primary;

    }
  }
 
  .shadow{
    box-shadow: 0px 2px 10px #d8d8d8 !important;
  }
  .xsmall{
    font-size: 0.8rem;
  }
  .herosec{
    .hero-banner {
      background: linear-gradient(to right,
          rgb(72, 166, 0),  /* Green */
          rgb(0, 96, 255),  /* Blue */
          rgb(255, 165, 0), /* Orange */
          rgb(255, 235, 0)  /* Yellow */
      );
      background-size: 600%;
  background-position: 0 0;
	animation: gradients 15s ease infinite;
  }
  
  @keyframes gradients {
    0%   {background-position: 0 0;}
    25% {background-position: 50% 0;}
    50% {background-position: 90% 0;}
    60% {background-position: 60%;}
    75% {background-position: 40%;}
    100%  {background-position: 0 0;}
}
    header{
        .navbar{
            .nav-link{
                color: $secondary !important;
                padding: 7px 15px;    
                
                transition: $transition;
                font-size: 0.9rem;
                &:hover{
                    color: $primary !important;      
                         
                }
            }
            .active{
                background-color: $primary;
                border-radius: 8px;
                color: #ffffff !important;
                &:hover{
                    color: #ffffff !important;      
                         
                }        
            }
        }
    }
    .swiper-slide{
      // height: 400px;
      overflow: hidden;
      
      img{
        height: 500px;
        width: 90%;
        object-fit: cover;
        border-radius: 20px;
      }
      
    }
  }
  .about{
    .abt-box{
      position: relative;
      width: 85%;
      margin: 0 auto;
      .stepbox{
        height: 200px;
        text-align: center;
.icon{
  margin-top: 25px;
  font-size: 3rem;
  color: rgb(92, 0, 55);
}
.icon2{
  margin-top: 25px;
  font-size: 3rem;
  color: rgb(12, 0, 148);
}
.icon3{
  margin-top: 25px;
  font-size: 3rem;
  color: rgb(4, 112, 0);
}
      }
      span{
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 200px;
        color: #ffffff;
        text-align: center;
        padding: 8px 0px;
        border-radius: 20px 0px 20px 0px;
      }
    }
    .box1{
      background: linear-gradient(to bottom, rgb(255, 0, 153), rgb(92, 0, 55));
      span{
        background: linear-gradient(to bottom, rgb(255, 0, 153), rgb(92, 0, 55));
      }
    }
    .box2{
      background: linear-gradient(to bottom, rgb(76, 60, 255), rgb(12, 0, 148));
      span{
        background: linear-gradient(to bottom, rgb(76, 60, 255), rgb(12, 0, 148));

      }
    }
    .box3{
      background: linear-gradient(to bottom, rgb(9, 255, 0), rgb(4, 112, 0));
      span{
        background: linear-gradient(to bottom, rgb(9, 255, 0), rgb(4, 112, 0));

      }
    }
  }
  .client{
    .img-box{
      overflow: hidden;

      img{
        width: 100%;
      }
    }
    ul{
      padding: 0;
      list-style-type: none;
    }
  }



.reward-item {
    cursor: pointer;
    padding: 10px;
    transition: transform 0.3s ease-in-out;
    &:hover {
      transform: scale(1.1);
  }
  img {
    width: 100%;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
}
.tag{
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #ffffff;
  border-radius: 100px;
}
}
.reward-description {
    margin-top: 10px;
    font-size: 18px;
    color: #333;
}

.myTestmonials{
  .swiper-slide{
    background-color: rgb(39, 39, 39);
  }
}

footer{
  .links{
    a{
      color: #000000;
      text-decoration: none;
      transition: $transition;
      &:hover{
        color: $primary;
      }
    }
  }
  .media{
    a {
      background-color: #000000;
      color: $primary;
      padding: 6px 0px;
      text-align: center;
      width: 40px;
      font-size: 18px;
      display: inline-block;
      border-radius: 50px;
      margin: 10px 5px;
      transition: 0.3s all;
      &:hover{
        background-color: $primary;
        color: #000000;
      }
  }
  }
}
.form{
  .form-control{
    background-color: rgb(9, 9, 9);
    border: none;
  }
}

@media (max-width: 450px){
  .herosec{
    .swiper-slide{
      margin-bottom: 20px;
      img{
        width: 100%;
        height: 300px;
      }
    }
  }
}
@media (min-width: 455px) and (min-width: 768px){
  .herosec{
    .swiper-slide{
      margin-bottom: 20px;
      img{
        width: 100%;
        height: 500px;
      }
    }
  }
}